<?xml version="1.0"?>
<phpunit
    bootstrap="./test/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
    stopOnFailure="false"
    processIsolation="false"
    backupGlobals="false"
    syntaxCheck="true"
    strict="true"
>
    <testsuite name="RoaveDbCriteria tests">
        <directory>./test/RoaveTest/DbCriteria</directory>
    </testsuite>
</phpunit>
